body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    margin: 10px;
}
.logospace{
    padding-left: 10px ;
}
ul{
    list-style: none;
    display: flex;
    font-size: large;
    font-weight: bold;
    align-self: center;
    position: relative;
    left: 30vh;
}
.icons{
    width: 20px;
    align-self: center;
    position: relative;
    left: 80vh;
    

}
button{
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: green;
    
}
button:hover{
    color: black;
    background-color:green;
}
.bcg{
    background: url(./images/food.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 400vh;
    

}

.bdy{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: rgb(41, 113, 175);
    text-align: center;

}
.bdy{
    display: flex;
    position: fixed;
    top: 50vh;
    left: 50vh;

    
}
a{
    text-decoration: none;
    padding: 10px;
}
.of{
    display: flex;
    position: fixed;
    top: 80vh;
    left:90vh;
}
.our{
    color: rgb(223, 10, 10);
}
.feat{
    background-color: green;
    color: aliceblue;
}